               <div class="page-main-contributors-item">
                  <div class="page-main-contributors-item-info__wrapper">
                     <img src="/media/{% firstof contributor.avatar 'user-placeholder.svg' %}" alt="avatar" class="page-main-contributors-item-info__avatar">
                     <div class="page-main-contributors-item-info">
                        <p class="page-main-contributors-item-info__name">{{ contributor.first_name|default:'John' }} </p>
                        <p class="page-main-contributors-item-info__status
                        {% if contributor.rang.name == 'Основатель' %} page-main-contributors-item-info__status--owner
                        {% elif contributor.rang.name == 'Спонсор' %} page-main-contributors-item-info__status--sponsor
                        {%endif%}">
                                       {{ contributor.rang.name|default:'' }}
                        </p>
                     </div>
                  </div>
                  <div class="page-main-contributors-item-stack">
                     <p class="page-main-contributors-item-stack__title">
                        Компетенции
                     </p>
                     <p class="page-main-contributors-item-stack__value">
                         {% for skill in contributor.skills.all %}
                            {{ skill|default:'' }}
                         {% endfor %}
                     </p>
                  </div>
               </div>