<div class="page-main-donate-item">
   <p class="page-main-donate-item__text">
        {{donation.comment}}
   </p>
   <div>
      <span class="page-main-donate-item__cost">{{donation.amount}}$</span>
      <span class="page-main-donate-item__date">{{donation.created}}</span>
   </div>
</div>