         <div class="page-main-projects-item">
            <img class="page-main-projects-item__img" src="/media/{% firstof proj.image 'placeholder.jpg'%}" alt="Project 1">

            <div class="page-main-projects-item__wrapper">
               <h3 class="page-main-projects-item__title">{{ proj.title }}</h3>
               <p class="page-main-projects-item__text">{{ proj.description_brief }}</p>
               <a href="#" class="page-main-projects-item__link link--after-row">Смотреть проект</a>
            </div>
         </div>