{% extends 'index.html' %}

{% load static %}
{% block page_title %}
{{ instance }}
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}


{% block content %}
{% if request.user.pk == user.pk or request.user.is_superuser %}
<div class="page-login page-auth">
    <div class="page-auth__content">
<form method="POST" enctype="multipart/form-data">
    <div class="form-horizontal">
        {% csrf_token %}

        {% for err in form.not_field_errors %}
        <div class="alert alert-danger" role="alert">
            <span>{{ err}}</span>
        </div>
        {% endfor %}

        {% for field in form %}
        <div class="fpage-auth__auth-form">
            <label class="input__label" for="{{ field.name }}">
                {{ field.label }}
            </label>

                {{ field }}

            {% for err in field.errors %}
            <small class="">{{ err }}</small>
            {% endfor %}

        </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-danger" name="save" value="ok">Update</button>
            </div>
        </div>
    </div>
</form>
    </div>
</div>
{% endif %}
{% endblock %}
