{% extends 'index.html' %}

{% load static %}


{% block page_title %}
{{ user.email }}
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static '/accounts/css/style_accounts.css' %}">
{% endblock %}

{% block content %}
{% if request.user.pk == user.pk or request.user.is_superuser %}
<div class="page-user">
  <div class="page-user-container">
    <!-- profile block -->
    <div class="page-user-profile page-user-profile_bottom">
      <!-- photo -->
      <div class="page-user-profile__img">
          <img class="page-user-profile__img" src="/media/{% firstof user.avatar 'user-placeholder.svg' %}" alt="User profile picture">
      </div>
      <!-- info -->
      <div class="page-user-profile__user-wrap">
        <!-- skills and name -->
        <h2 class="page-user-profile__title">
            {{ user.first_name|default:'John' }}
        </h2>
        <p class="page-user-profile__skills">
                {% for skill in user.skills.all %}
                {{ skill }}
                {% endfor %}
        </p>
        <!-- status -->
        <div class="page-user-status">
          <a href="#" class="page-user-status__rank page-user-status_bottom">
            <img src="{% static '/img/page-user/icon.png' %}" alt="" class="page-user-status__rank-icon">
            {{ user.occupation|default:'' }}
          </a>
          <p class="page-user-status__rating page-user-status_bottom">
            Рейтинг:
          </p>
        </div>
        <!-- btn -->
        <div class="page-user-btn">
          <a href="{% url 'accounts:profileupdate' pk=user.pk %}" class="page-user-btn__edit">
            Edit Profile
          </a>
          <a href="tg://resolve?domain={{ user.telegram|default:'' }}" class="page-user-btn__message">
            <img src="{% static '/img/page-user/telegram.svg' %}" alt="" class="page-user-btn__message_telegram">
            Send a message
          </a>
        </div>
      </div>
    </div>
    <!-- Projects  -->
    <div class="page-user-projects ">
      <!-- menu -->
      <ul class="page-user-projects-menu">
        <!-- Projects Founded -->
        <li class="page-user-projects-menu__item">
          <a href="#" class="page-user-projects-menu__link page-user-projects-menu__link_active">
            Projects Founded {{user.projects.count|default:'0'}}
          </a>
        </li>
        <!-- Projects Supported -->
        <li class="page-user-projects-menu__item">
          <a href="#" class="page-user-projects-menu__link">
            Projects Supported {{user.donations.count|default:'0'}}
          </a>
        </li>
        <!-- Projects Liked -->
        <li class="page-user-projects-menu__item">
          <a href="#" class="page-user-projects-menu__link">
            Projects Liked 608
          </a>
        </li>
      </ul>
      <!-- projects cards -->
      <div class="page-user-cards">
        {% for project in user_founded_projects %}
          {% include 'accounts/components/project_block.html' with proj=project %}
        {% endfor %}
        <!-- card -->
        <article class="page-user-card">
          <img src="{% static '/img/page-user/page-user-bg1.jpg' %}" alt="" class="page-user-card__img">
          <div class="page-user-card__content-wrap">
            <h3 class="page-user-card__title">
              Мы хотим вывести идеи Open Source на качественно
            </h3>
            <p class="page-user-card__text">
              Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для
              работы над любыми открытыми проектами...
            </p>
            <a href="#" class="page-user-card__link">
              Смотреть проект
            </a>
          </div>
        </article>
        <!-- card -->
<!--        <article class="page-user-card">-->
<!--          <img src="{% static '/img/page-user/page-user-bg2.jpg' %}" alt="" class="page-user-card__img">-->
<!--          <div class="page-user-card__content-wrap">-->
<!--            <h3 class="page-user-card__title">-->
<!--              Мы хотим вывести идеи Open Source на качественно-->
<!--            </h3>-->
<!--            <p class="page-user-card__text">-->
<!--              Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для-->
<!--              работы над любыми открытыми проектами...-->
<!--            </p>-->
<!--            <a href="#" class="page-user-card__link">-->
<!--              Смотреть проект-->
<!--            </a>-->
<!--          </div>-->
<!--        </article>-->
<!--        &lt;!&ndash; card &ndash;&gt;-->
<!--        <article class="page-user-card">-->
<!--          <img src="{% static '/img/page-user/page-user-bg3.jpg' %}" alt="" class="page-user-card__img">-->
<!--          <div class="page-user-card__content-wrap">-->
<!--            <h3 class="page-user-card__title">-->
<!--              Мы хотим вывести идеи Open Source на качественно-->
<!--            </h3>-->
<!--            <p class="page-user-card__text">-->
<!--              Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для-->
<!--              работы над любыми открытыми проектами...-->
<!--            </p>-->
<!--            <a href="#" class="page-user-card__link">-->
<!--              Смотреть проект-->
<!--            </a>-->
<!--          </div>-->
<!--        </article>-->
<!--        &lt;!&ndash; card &ndash;&gt;-->
<!--        <article class="page-user-card">-->
<!--          <img src="../../img/page-user/page-user-bg4.jpg" alt="" class="page-user-card__img">-->
<!--          <div class="page-user-card__content-wrap">-->
<!--            <h3 class="page-user-card__title">-->
<!--              Мы хотим вывести идеи Open Source на качественно-->
<!--            </h3>-->
<!--            <p class="page-user-card__text">-->
<!--              Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для-->
<!--              работы над любыми открытыми проектами...-->
<!--            </p>-->
<!--            <a href="#" class="page-user-card__link">-->
<!--              Смотреть проект-->
<!--            </a>-->
<!--          </div>-->
<!--        </article>-->
<!--        &lt;!&ndash; card &ndash;&gt;-->
<!--        <article class="page-user-card">-->
<!--          <img src="../../img/page-user/page-user-bg5.jpg" alt="" class="page-user-card__img">-->
<!--          <div class="page-user-card__content-wrap">-->
<!--            <h3 class="page-user-card__title">-->
<!--              Мы хотим вывести идеи Open Source на качественно-->
<!--            </h3>-->
<!--            <p class="page-user-card__text">-->
<!--              Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для-->
<!--              работы над любыми открытыми проектами...-->
<!--            </p>-->
<!--            <a href="#" class="page-user-card__link">-->
<!--              Смотреть проект-->
<!--            </a>-->
<!--          </div>-->
<!--        </article>-->
<!--        &lt;!&ndash; card &ndash;&gt;-->
<!--        <article class="page-user-card">-->
<!--          <img src="../../img/page-user/page-user-bg6.jpg" alt="" class="page-user-card__img">-->
<!--          <div class="page-user-card__content-wrap">-->
<!--            <h3 class="page-user-card__title">-->
<!--              Мы хотим вывести идеи Open Source на качественно-->
<!--            </h3>-->
<!--            <p class="page-user-card__text">-->
<!--              Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для-->
<!--              работы над любыми открытыми проектами...-->
<!--            </p>-->
<!--            <a href="#" class="page-user-card__link">-->
<!--              Смотреть проект-->
<!--            </a>-->
<!--          </div>-->
<!--        </article>-->
      </div>
    </div>
  </div>
</div>

{% endif %}
NOT
{% endblock %}
