{% extends 'index.html' %}

{% load static %}
{% load bootstrap4 %}

{% block page_title %}
Reset password
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block page_login %}

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Product</b>this admin</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Resend activation code</p>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form form_group_class='oneOptionFA' %}
<!--      <div class="form-group has-feedback">-->
<!--        <input type="email" class="form-control" placeholder="Email">-->
<!--        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
<!--      </div>-->
<!--      <div class="form-group has-feedback">-->
<!--        <input type="password" class="form-control" placeholder="Password">-->
<!--        <span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
<!--      </div>-->
      <div class="row">
        <div class="col-xs-8">
<!--          <div class="checkbox icheck">-->
<!--            <label>-->
<!--              <input type="checkbox"> Remember Me-->
<!--            </label>-->
<!--          </div>-->
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Send again</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

<!--    <div class="social-auth-links text-center">-->
<!--      <p>- OR -</p>-->
<!--      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using-->
<!--        Facebook</a>-->
<!--      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using-->
<!--        Google+</a>-->
<!--    </div>-->
    <!-- /.social-auth-links -->

    <a href="{% url 'accounts:login' %}" class="text-center">Login</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


{% endblock %}
