{% extends 'index.html' %}

{% load static %}

{% block page_title %}
Восстановление пароля
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% load bootstrap4 %}

{% block page_content %}
<div class="loginBack">
    <div class="centralBlock">
        <div class="contentCB">
    <h4>Проверьте вашу почту</h4>

    <div class="loginLinkAlert">
        <p>
        Сообщение с дальнейшей инструкцией по восстанолвению пароля, должно в скором времени прийти на вашу почту.
        </p>
        <br />

        Если по какой-то причине вам письмо не придет, проверьте верность
        указанного вами почтового адреса и попробоуйте запросить письмо еще раз.
    </div>
        </div>
    </div>
</div>
{% endblock %}
