{% extends 'index.html' %}

{% load static %}

{% block page_title %}
Восстановление пароля
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% load bootstrap4 %}

{% block page_content %}
<div class="loginBack">
    <div class="centralBlock">
        <div class="contentCB">
    <h4>Восстановление пароля</h4>

    {% if validlink %}

      <form method="post" class="loginForms">

                {% csrf_token %}
                <div class="oneOptionFA ">
                    {% bootstrap_form form %}
                </div>
                <div class="oneOptionFA">
                    <input type="submit" value="Прислать" class="submAuth">

            </form>

            <div class="loginLinkRP">

    {% else %}

        <div class="loginLinkAlert">
            Данная ссылка недействительна. <br />
            Либо срок действия ее прошел либо уже ей воспользовались. <br />
            Запросите еще раз.
        </div>

    {% endif %}
        </div>
    </div>
</div>
{% endblock %}
