{% extends 'index.html' %}

{% load static %}
{% load bootstrap4 %}


{% block page_title %}
Register
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
<div class="page-reg page-auth">
  <div class="page-auth__content">
    <div class="page-auth-selector">
      <a href="{% url 'accounts:login' %}" class="page-auth-selector__item">
        Вход
      </a>

      <span class="page-auth-selector__item active">
        Регистрация
      </span>
    </div>
{% if submitted %}
  <p class="success">
    Your message was submitted successfully. Thank you.
 </p>
{% else %}
    <form method="POST" class="page-auth__auth-form">
        {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="input-field">
        <label class="page-reg__input-title">{{ field.label_tag }}</label>
                  {{ field }}
          <span class="page-auth__error">{{ field.errors }}</span>
      </div>
    {% endfor %}

      <input type="submit" class="btn btn--green btn--big btn--width" value="Войти">

      <div class="page-auth__error">
        <!-- Пароли не совадают  -->
      </div>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
