{% extends 'index.html' %}

{% load static %}

{% block page_title %}
Участники
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'accounts/css/style_accounts.css' %}">
{% endblock %}

{% block content %}
 <div class="page-users">
      <section class="page-users-contributors page-container page-users-section page-users-section--gray">
        <h2 class="page-users-section__title line-prev">помощь проекту</h2>
        <h3 class="page-users-section__subtitle">Участники</h3>
        <div class="page-users-content-wrapper-conteiner">
<!--          <div class="page-users-content-wrapper-conteiner-top">-->
<!--            <div class="page-users-content-wrapper-conteiner-top-search">-->
<!--              <div class="page-users-content-wrapper-conteiner-top-search-field">-->
<!--                <div class="page-users-content-wrapper-conteiner-top-search-field-icon"></div>-->
<!--                <input class="page-users-content-wrapper-conteiner-top-search-field-input" placeholder="Поиск" />-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="page-users-content-wrapper-conteiner-top-filtercontaiber">-->
<!--              <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-cat">-->
<!--                <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field">-->
<!--                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-text">Категории</div>-->
<!--                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-cat-field-icon"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-tag">-->
<!--                <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field">-->
<!--                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-text">Теги</div>-->
<!--                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-tag-field-icon"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter">-->
<!--                <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field">-->
<!--                  <div class="page-users-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-icon"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="page-users-contributors">
          <div class="page-users-contributors-list" id="user-list">
            {% include 'accounts/components/users_blocks.html' %}
          <div class="pagination">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
          </div>
          </div>
<!--          <div class="page-list-content-wrapper-conteiner-row-download">-->
<!--            <a class="page-list-content-wrapper-conteiner-row-download-btn" href="#">Загрузи ещё</a>-->
<!--          </div>-->
        </div>
      </section>
    </div>
{% endblock %}
