    <header class="header">
      <div class="header-left-burger" id="burger-btn">
        <label class="burger-toggle"
          ><input type="checkbox" />
          <div>
            <div><span></span> <span></span></div>
            <svg><use xlink:href="#path"></use></svg> <svg><use xlink:href="#path"></use></svg></div
        ></label>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" id="path">
            <path d="M22,22 L2,22 C2,11 11,2 22,2 C33,2 42,11 42,22"></path>
          </symbol>
        </svg>
      </div>
      <div class="header-left">
        <a class="header-left__logo" href="/"></a>
        <nav class="header-left__nav nav">
          <a class="header-left__nav-item item" href="/projects">Софт</a>
          <a class="header-left__nav-item item" href="/projects">Игры</a>
          <a class="header-left__nav-item item" href="/projects">Сервисы</a>
          <a class="header-left__nav-item item" href="/projects">Изделия</a>
          <a class="header-left__nav-item item" href="/projects">Тексты</a>
        </nav>
      </div>
      <div class="header-right">
        <nav class="header-right__nav">
          <a class="header-right__nav-item item" href="/about">О фонде</a>
          <a class="header-right__nav-item item" href="/angels">Спонсоры</a>
          <a class="header-right__nav-item item" href="/community">Участники</a>
        </nav>

        <div class="header-right-btns">
            <div class="header-right-btns__search">
            <button
              class="header-right-btns__search-btn header-right-btns__search-btn--action btn btn-small"
              id="search-btn-action"
            ></button>
            <input
              type="search"
              class="header-right-btns__search-field search-field"
              id="search-field"
              placeholder="Поиск"
            />
            <button class="header-right-btns__close-btn btn btn-small" id="close-search-field"></button>
          </div>
          <button class="header-right-btns__more-btn btn btn--small" id="show-more"></button>
          <button class="header-right-btns__search-btn btn btn-small" id="search-btn"></button>
            {% if not user.is_authenticated %}

            {% else %}
          <img class="header-right-btns-avlogin" id="avlogin" src="/media/{% firstof user.avatar 'user-placeholder.svg' %}" />
            {% endif %}
        </div>
        {% if not user.is_authenticated %}
            <a href="{% url 'accounts:login' %}" class="header-mobile-nav__signup-btn btn btn--green">Войти</a>
        {% else %}
        <nav class="header-right__avlogin">
          <a class="header-right__avlogin-item item" href="{% url 'accounts:myprofile' pk=user.pk %}">Личный Кабинет</a>
          <a class="header-right__avlogin-item item" href="/admin/">Админ. Панель</a>
          <div class="header-right__avlogin-item-sep item"></div>
          <a class="header-right__avlogin-item item" href="{% url 'accounts:logout' %}">Выход</a>
        </nav>
          {% endif %}
      </div>
    </header>