{% extends 'index.html' %}
{% load static %}
{% load mptt_tags %}
{% load bootstrap4 %}

{% block title %} Проекты {% endblock title %}
{% block page_styles %}
<link rel="stylesheet" href="{% static '/css/projects.bundle.css' %}" />
{% endblock %}

{% block content %}

<div class="page-list">
  <div class="page-list-content">
    <section class="page-list-content-list-header img">
       <div class="page-list-content-list-header-row">
           <h1 class="page-list-content-list-header-row__h1">
              Софт
           </h1>
       </div>
        <div class="page-list-content-list-header-col">
          <div class="page-list-content-list-header-col-1">
            <h3 class="page-list-content-list-header-col-1__h3">
               Найдите единомышленников и работайте над любыми открытыми проектами вместе
            </h3>
         </div>
        </div>
    </section>
    <section class="page-list-content-wrapper">
      <div id="openFilter" class="page-list-content-wrapper-sidebar">
        <div class="page-list-content-wrapper-sidebar-menutitle">
          <h2 class="page-list-content-wrapper-sidebar-menutitle__h2">
            Отфильтровать результаты
          </h2>
        </div>
        <div onclick="showHide('openFilter')" class="page-list-content-wrapper-sidebar-close">
            <img src="{% static '/img/close.svg' %}" style="margin: 18px;">
        </div>
        <div class="page-list-content-wrapper-sidebar-filters">
          <ul>
            {% for cat in all_categories %}
              <li class="page-list-content-wrapper-sidebar-filters-section-title">{{cat.name}} <img class="page-list-content-wrapper-sidebar-filters-section-title-icon" src="{% static 'img/list-marker.svg' %}">
            {% endfor %}
            <li class="page-list-content-wrapper-sidebar-filters-section-title">Софт <img class="page-list-content-wrapper-sidebar-filters-section-title-icon" src="{% static 'img/list-marker.svg' %}">

            <li class="page-list-content-wrapper-sidebar-filters-section-title">Игры <img class="page-list-content-wrapper-sidebar-filters-section-title-icon" src="{% static 'img/list-marker.svg' %}">
              <ul>
                <li>Mobile</li>
                <li>Action RPG</li>
                <li>Role-playing</li>
                <li>MMO RPG</li>
                <li>Strategy</li>
                <li>Simulation</li>
              </ul>
            </li>
            <li class="page-list-content-wrapper-sidebar-filters-section-title">Онлайн-сервисы <img class="page-list-content-wrapper-sidebar-filters-section-title-icon" src="{% static 'img/list-marker.svg' %}">
              <ul>
                <li>Windows</li>
                <li>Hack</li>
                <li>Security</li>
                <li>Corporate</li>
                <li>Social</li>
                <li>Linux</li>
              </ul>
            </li>

            <li class="page-list-content-wrapper-sidebar-filters-section-title">Изделия <img class="page-list-content-wrapper-sidebar-filters-section-title-icon" src="{% static '/img/list-marker.svg' %}"> </li>

            <li class="page-list-content-wrapper-sidebar-filters-section-title">Тексты <img class="page-list-content-wrapper-sidebar-filters-section-title-icon" src="{% static '/img/list-marker.svg' %}"> </li>
          </ul>
        </div>

        <br><br>
        <div class="page-list-content-wrapper-sidebar-filters" >
          {% for cat,structure in all_categories|tree_info %}
          {% if structure.new_level %}<ul class="page-list-content-wrapper-sidebar-filters-section-title"><li>{% else %}</li><li>{% endif %}
              <a href="{% url 'projects:projects_for_category' cat.id %}">{{ cat.name }} </a> <img class="page-list-content-wrapper-sidebar-filters-section-title-icon" src="{% static '/img/list-marker.svg' %}">
            {% for level in structure.closed_levels %}</li></ul>
            {% endfor %}
          {% endfor %}
        </div> 
      </div>

        <div class="page-list-content-wrapper-conteiner">
          <div class="page-list-content-wrapper-conteiner-top">
            <div onclick="showHide('openFilter')" class="page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter">
              <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field">
                <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field-icon"></div>
              </div>
            </div>
            <div class="page-list-content-wrapper-conteiner-top-search">
              <div class="page-list-content-wrapper-conteiner-top-search-field">
                <div class="page-list-content-wrapper-conteiner-top-search-field-icon"></div>
                <form action="/projects" method="get">
                <input class="page-list-content-wrapper-conteiner-top-search-field-input" placeholder="Поиск" name="q" type="text"></input>
                </form>
              </div>
            </div>
            <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter">
              <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field">
                <div class="page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-icon"></div>
              </div>
            </div>
          </div>
          <div class="page-list-content-wrapper-conteiner-grid">

            {% if projects %}
            {% for project in projects %}

            <div class="page-list-content-wrapper-conteiner-row-col">
              <div class="page-list-content-wrapper-conteiner-row-col-imgconteiner">
                <img class="page-list-content-wrapper-conteiner-row-col-imgconteiner-img" src="/media/{{ project.image }}">
              </div>
              <div class="page-list-content-wrapper-conteiner-row-col-inside" style="margin: 0;">
                <h4 class="page-list-content-wrapper-conteiner-row-col-inside__h4" style="margin: 0;">
                  {{ project.title }}
                </h4>
                <p class="page-list-content-wrapper-conteiner-row-col-inside-description" style="margin: 0;">
                  {{ project.description_brief }}
                </p>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>

          <div class="page-list-content-wrapper-conteiner-row-download">
            <a class="page-list-content-wrapper-conteiner-row-download-btn" href="#">Загрузи ещё</a>
          </div>
        </div>
    </section>
</div>
</div>

{% endblock content %}

{% block page_js %}

<script type="text/javascript">

    function showHide(id) {
        var el = document.getElementById(id);
            if( el && el.style.display == 'block')
                el.style.display = 'none';
            else
                el.style.display = 'block';
        }

    window.onresize = function(event) {
        var width = window.innerWidth;
        console.log(width);
        if (width > 1380) {
            var el = document.getElementById("openFilter");
            el.style.display = 'block';
        } else {
            var el = document.getElementById("openFilter");
            el.style.display = 'none';
        }
    };

    // $(window).resize(function() {
    //  var width = $(window).width();
    //  if (width > 1379) {
    //      var el = document.getElementById("openFilter");
    //      el.style.display = 'block';
    //  }
    // });

</script>

{% endblock page_js %}
