<!-- card -->
<article class="page-user-card">
  <img src="/media/{% firstof proj.image 'placeholder.jpg'%}" alt="" class="page-user-card__img">
  <div class="page-user-card__content-wrap">
    <h3 class="page-user-card__title">
        {{proj.title}}
    </h3>
    <p class="page-user-card__text">
      {{proj.description_brief}}
    </p>
    <a href="{% url 'projects:project' proj.pk %}" class="page-user-card__link">
      Смотреть проект
    </a>
  </div>
</article>