
    {% for user in users %}
    <div class="page-users-contributors-item">
        <div class="page-users-contributors-item-info__wrapper">
            <img
                    src="/media/{% firstof user.avatar 'user-placeholder.svg' %}"
                    alt="avatar"
                    class="page-users-contributors-item-info__avatar"
            />
            <div class="page-users-contributors-item-info">
                <p class="page-users-contributors-item-info__name">{{user.first_name|default:''}}</p>
                {% if user.rang.name == 'Основатель' %}
                <p class="page-users-contributors-item-info__status page-users-contributors-item-info__status--owner ">
                    {{user.rang|default:''}}
                </p>
                {% elif user.rang.name == 'Спонсор' %}
                <p class="page-users-contributors-item-info__status page-users-contributors-item-info__status--sponsor">
                    {{user.rang|default:''}}
                </p>
                {% else %}
                <p class="page-users-contributors-item-info__status">
                    {{user.rang|default:''}}</p>
                </p>
                {% endif %}
            </div>
        </div>
        <div class="page-users-contributors-item-stack">
            <p class="page-users-contributors-item-stack__title">Компетенции</p>
            <p class="page-users-contributors-item-stack__value">
                {% for skill in user.skills.all %}
                {{ skill }}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}
