{% extends 'index.html' %} {% load static %} {% load bootstrap4 %} {% block
title %} Главная {% endblock title %} {% block content %}

<div class="page-main">
  <section class="page-main-header page-container img">
    <h1 class="page-main-header__title">
      Демократическая платформа полного цикла
    </h1>
    <div class="page-main-header-row">
      <div class="page-main-header-col-1">
        <h3 class="page-main-header-col-1__subtitle">
          Найдите единомышленников и работайте над любыми открытыми проектами
          вместе
        </h3>

        <div class="page-main-header-col-1__actions">
          <a
            class="btn btn--big"
            href="https://forms.yandex.ru/u/5f6264107216c9964d471616/"
            >Предложить проект</a
          >
          <a
            class="btn btn--big btn--green"
            href="https://money.yandex.ru/to/410019594133149"
            >Стать спонсором!</a
          >
        </div>
      </div>

      <div class="page-main-header-col-2">
        <div class="page-main-header-col-2__watch">
          <button
            class="btn btn--round btn--transparent"
            id="play-video"
          ></button>
          <label class="play-video-btn-label" for="#play-video"
            >Смотреть видео</label
          >
        </div>
      </div>
    </div>
  </section>

  <section
    class="page-main-about page-container page-main-section page-main-section--gray"
  >
    <h2 class="page-main-section__title line-prev">О фонде</h2>
    <h3 class="page-main-section__subtitle">
      Мы объединяем разных специалистов связанных одной идеей!
    </h3>
    <div class="page-main-about-content">
      <div class="page-main-about-content-block__wrapper">
        <div class="page-main-about-content-block">
          <h4 class="page-main-about-content-block__title">
            <span>1.</span>
            Что представляет из себя проект?
          </h4>
          <p class="page-main-about-content-block__text">
            Мы хотим вывести идеи Open Source на качественно новый уровень,
            создав фонд и удобную онлайн платформу для работы над любыми
            открытыми проектами: общественно значимыми онлайн Мы хотим вывести
            идеи Open Source на качественно новый уровень, создав фонд и удобную
            онлайн платформу для работы над любыми открытыми проектами:
            общественно значимыми онлайн
          </p>
        </div>

        <div class="page-main-about-content-block">
          <h4 class="page-main-about-content-block__title">
            <span>2.</span>
            Как принимаются решения?
          </h4>
          <p class="page-main-about-content-block__text">
            Мы хотим вывести идеи Open Source на качественно новый уровень,
            создав фонд и удобную онлайн платформу для работы над любыми
            открытыми проектами: общественно значимыми онлайн
          </p>
        </div>
      </div>

      <div class="page-main-about-content-block__wrapper">
        <div class="page-main-about-content-block">
          <h4 class="page-main-about-content-block__title">
            <span>3.</span>
            Лицензия и устройство фонда
          </h4>
          <p class="page-main-about-content-block__text">
            Мы хотим вывести идеи Open Source на качественно новый уровень,
            создав фонд и удобную онлайн платформу для работы над любыми
            открытыми проектами: общественно значимыми онлайн
          </p>
        </div>

        <div class="page-main-about-content-block">
          <h4 class="page-main-about-content-block__title">
            <span>4.</span>
            Как зарабатываем и как тратим?
          </h4>
          <p class="page-main-about-content-block__text">
            Мы хотим вывести идеи Open Source на качественно новый уровень,
            создав фонд и удобную онлайн платформу для работы над любыми
            открытыми проектами: общественно значимыми онлайн Мы хотим вывести
            идеи Open Source на качественно новый уровень, создав фонд и удобную
            онлайн платформу для работы над любыми открытыми проектами:
            общественно значимыми онлайн
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="page-main-projects page-container page-main-section page-main-section--gray"
  >
    <h2 class="page-main-section__subtitle">Главные проекты</h2>

    <div class="page-main-projects__wrapper">
      {% for item in projects %} {% include
      'includes/home-page/project-inc.html' with proj=item %} {% endfor %}
    </div>

    <a href="/projects" class="page-main-projects__all link--after-row"
      >Смотреть все</a
    >
  </section>

  <section class="page-main-stat page-container page-main-section">
    <div class="page-main-stat-item">
      <p class="page-main-stat-item__value">
        {{ found_money_all_time|default:'0' }} $
      </p>
      <p class="page-main-stat-item__description">Собрали за все время</p>
    </div>

    <div class="page-main-stat-item">
      <p class="page-main-stat-item__value">
        {{ now_money_all_time|default:'0' }} $
      </p>
      <p class="page-main-stat-item__description">Текущий фонд</p>
    </div>

    <div class="page-main-stat-item">
      <p class="page-main-stat-item__value">
        {{deficit_money_сounter|default:'0'}} $
      </p>
      <p class="page-main-stat-item__description">Дефицит бюджета</p>
    </div>

    <div class="page-main-stat-item">
      <p class="page-main-stat-item__value">
        {{platform_projects|default:'0'}}
      </p>
      <p class="page-main-stat-item__description">Всего проектов</p>
    </div>

    <div class="page-main-stat-item">
      <p class="page-main-stat-item__value">{{platform_users|default:'0'}}</p>
      <p class="page-main-stat-item__description">Участников платформы</p>
    </div>
  </section>

  <section class="page-main-donate page-container page-main-section">
    <h2 class="page-main-section__title line-prev">помощь проекту</h2>
    <h3 class="page-main-section__subtitle">Пожертвования</h3>

    <div class="page-main-donate-list">
      {% for item in donations %} {% include
      'includes/home-page/donations-inc.html' with donation=item %} {% endfor %}
    </div>

    <h3 class="page-main-section__subtitle">Хочу помочь проекту</h3>
    <a
      href="https://money.yandex.ru/to/410019594133149"
      class="page-main-donate__action btn btn--green btn--big"
      >Стать cпонсором</a
    >
  </section>

  <section
    class="page-main-contributors page-container page-main-section page-main-section--gray"
  >
    <h2 class="page-main-section__title line-prev">помощь проекту</h2>
    <h3 class="page-main-section__subtitle">Участники</h3>

    <div class="page-main-contributors">
      <div class="page-main-contributors-list">
        <div class="page-main-contributors-list-col">
          {% for item in accounts %} {% include
          'includes/home-page/contributor-inc.html' with contributor=item %} {%
          endfor %}
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %} {% block page_js %}
<script src="{% static 'js/bundle.js'%}"></script>
{% endblock %}
