{% load static %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static '/favicon/logo.svg' %}" sizes="any" type="image/svg+xml"/>
    <link rel="stylesheet" href="{% static '/css/style.bundle.css' %}" />
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>GrandCore |
        {% block title %}
        {% endblock %}
    </title>

    {% block page_styles %}
    {% endblock %}

    {#% bootstrap_css %#}
    {#% bootstrap_javascript jquery='full' %#}

</head>

<body>
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
    <!-- NAV -->
        {% include 'includes/nav.html' %}
    <!-- /NAV -->

    <!-- HEADER -->
    {# <header> #}
        {% include 'includes/header.html' %}
    {# </header> #}
    <!-- /HEADER -->

    <!-- MAIN -->
    {# <main> #}
       {% block content %}
       {% endblock %}
    {# </main> #}
    <!-- /MAIN -->

    <!-- FOOTER -->
    {# <footer> #}
        {% include 'includes/footer.html' %}
    {# </footer> #}
        <!-- /FOOTER -->

{% block page_js %}
    <script src="{% static 'js/bundle.js'%}"></script>
{% endblock %}

</body>
</html>
