{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block page_styles %}
    {% endblock %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static '/css/app.css' %}">
    <link rel="stylesheet" href="{% static '/dist/font-awesome-4.7.0/css/font-awesome.min.css' %}">

</head>

<body class="sidebar-mini wysihtml5-supported skin-green sidebar-collapse">
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% if user.is_authenticated %}
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Header -->
        {% include 'includes/nav.html' %}

        {% include 'includes/header.html' %}

    <!-- Header -->

    <!-- main content section -->
    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
    <!-- main content section -->

    <!-- FOOTER -->
    {% include 'includes/footer.html' %}
    <!-- FOOTER -->


</div>
<!-- end Wrapper -->

{% block page_js %}
{% endblock %}
{% endif %}

</body>
</html>