.header-right-btns-avlogin {
    display: block;
    height: 48px;
    width: 48px;
    margin-left: 16px;
    border-radius: 50%;
}
.header-right__avlogin {
    box-shadow: 0 10px 20px 0 rgba(50,50,50,.5);
    display: none;
    position: absolute;
    right: 40px;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    top: 100px;
    background-color: #f2f2f2;
    padding: 10px 20px;
    border-radius: 6px;
}
.header-right__avlogin--active {
    display: flex;
}

.header-right__avlogin-item {
    display: block;
    margin: 8px 0;
    text-align: left;
}

.header-right__avlogin-item-sep {
    background: #000;
    height: .5px;
    margin: 8px 0;
}
.btn--green {
    margin-left: 10px;
}

.page-main-donate-item {
    width: 49%;
    margin-right: 10px;
}
.page-main-donate-list {
    flex-wrap: wrap;
}