.page-user-profile__img {
    background: none;
}

.page-users-contributors-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.page-users-contributors-item {
    width: 49% !important;
}
.page-users-contributors-item-info__avatar {
    border-radius: 50%;
}